parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src

    excludePaths:
        - 'src/CommerceWeaversSyliusTpayPlugin.php'
        - 'src/DependencyInjection/Configuration.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        -
            identifier: missingType.iterableValue # replaces deprecated key "checkMissingIterableValueType: false"
        -
            identifier: missingType.generics # ignore missing type generics, as it is complicated when supported for Sylius 1.12 and 1.13 is required
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Parameter \#1 \$request \([^)]+\) of method [^:]+::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'
        - '/Parameter \#1 \$request \([^)]+\) of method [^:]+::doExecute\(\) should be contravariant with parameter \$request \([^)]+\) of method CommerceWeavers\\SyliusTpayPlugin\\Payum\\Action\\Api\\BasePaymentAwareAction::doExecute\(\)/'
        - '/Parameter \$event of method CommerceWeavers\\SyliusTpayPlugin\\Refunding\\Workflow\\Listener\\DispatchRefundListener::__invoke\(\) has invalid type Symfony\\Component\\Workflow\\Event\\TransitionEvent\./'
        - '/Call to method getSubject\(\) on an unknown class Symfony\\Component\\Workflow\\Event\\TransitionEvent\./'
        - '#Class CommerceWeavers\\SyliusTpayPlugin\\Form\\DataTransformer\\CardTypeDataTransformer implements generic interface Symfony\\Component\\Form\\DataTransformerInterface but does not specify its types: TValue, TTransformedValue#'
        - '#Method CommerceWeavers\\SyliusTpayPlugin\\Form\\Type\\TpayCardType::__construct\(\) has parameter \$cardTypeDataTransformer with generic interface Symfony\\Component\\Form\\DataTransformerInterface but does not specify its types: TValue, TTransformedValue#'
        - '#Parameter \#2 \$listener of method .+::addEventListener\(\) expects callable\(\): mixed, array.+ given\.#'
        - '#Constructor of class CommerceWeavers\\SyliusTpayPlugin\\Test\\Payum\\Cypher\\FakeCypher has an unused parameter \$cypherKey\.#'
        - '#has invalid type Sylius\\Abstraction\\StateMachine\\StateMachineInterface#'
        - '#has unknown class Sylius\\Abstraction\\StateMachine\\StateMachineInterface#'
        - '#an unknown class Sylius\\Abstraction\\StateMachine\\StateMachineInterface#'
        - '#Caught class Sylius\\Abstraction\\StateMachine\\Exception\\StateMachineExecutionException not found\.#'
        - '#Call to method apply\(\) on an unknown class Sylius\\Abstraction\\StateMachine\\StateMachineInterface\.#'
        - '/Only booleans are allowed in an if condition, string\|null given./'
        -
            message: '/Only booleans are allowed in an if condition, string\|null given./'
            path: src/Model/PaymentDetails.php
        - '#Parameter \#1 \$key of function array_key_exists expects int\|string, array\|int\|object\|string given\.#'
        - '#Trying to invoke array\{class-string, string\} but it might not be a callable\.#'
        - '#Comparison operation "<=" between int<1, max> and \(array\|float\|int\) results in an error\.#'
        - '#Parameter \#1 \$request \(CommerceWeavers\\SyliusTpayPlugin\\Payum\\Request\\Api\\InitializeApplePayPayment\) of method CommerceWeavers\\SyliusTpayPlugin\\Payum\\Action\\Api\\InitializeApplePayPaymentAction::doExecute\(\) should be contravariant with parameter \$request \(Payum\\Core\\Request\\Generic\) of method CommerceWeavers\\SyliusTpayPlugin\\Payum\\Action\\Api\\BasePaymentAwareAction::doExecute\(\)#'
        - '#Parameter \#1 \$request \(CommerceWeavers\\SyliusTpayPlugin\\Payum\\Request\\Api\\Notify\) of method CommerceWeavers\\SyliusTpayPlugin\\Payum\\Action\\Api\\NotifyAction::doExecute\(\) should be contravariant with parameter \$request \(Payum\\Core\\Request\\Generic\) of method CommerceWeavers\\SyliusTpayPlugin\\Payum\\Action\\Api\\BasePaymentAwareAction::doExecute\(\)#'
