<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>tests/E2E</directory>
        </testsuite>
        <testsuite name="api">
            <directory>tests/Api</directory>
        </testsuite>
        <testsuite name="contract_external">
            <directory>tests/Contract/Tpay</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_CLASS" value="\App\Kernel" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="PANTHER_ERROR_SCREENSHOT_DIR" value="tests/Application/var/panther" />
        <server name="PANTHER_WEB_SERVER_DIR" value="./tests/Application/public" />
        <server name="PANTHER_NO_SANDBOX" value="1" />
        <server name="PANTHER_CHROME_ARGUMENTS" value="--disable-dev-shm-usage --window-size=1400,900" />
        <server name="FIXTURES_DIR" value="../Api/DataFixtures" /> <!-- relative to tests/Application dir -->
        <server name="EXPECTED_RESPONSE_DIR" value="../Api/Responses" /> <!-- relative to tests/Application dir -->

        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="TPAY_API_URL" value="http://localhost:4000" />
    </php>

    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
</phpunit>
