{% set payment = order.lastCartPayment() %}

{% if payment is not null and
    cw_tpay_get_gateway_config_value(payment.method.gatewayConfig, 'type') ==
    constant('CommerceWeavers\\SyliusTpayPlugin\\Tpay\\PaymentType::APPLE_PAY')
%}
    <div class="ui stackable grid">
        <div class="ui column eight wide">
            <div class="content">
                <div class="field">
                    {{ 'commerce_weavers_sylius_tpay.shop.pay.policy'|trans({
                        '%url%': tpayPolicyUrl
                    })|raw }}
                </div>
                <div class="field">
                    {{ 'commerce_weavers_sylius_tpay.shop.pay.regulations'|trans({
                        '%url%': tpayRegulationsUrl
                    })|raw }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
