{% set payment = order.lastCartPayment() %}

{% if payment is not null and payment.method.gatewayConfig.gatewayName == 'tpay_blik' %}
    <div class="ui stackable grid">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_blik.html.twig' %}
    </div>
{% endif %}
