{% set payment = order.lastCartPayment() %}

{% if cw_tpay_get_gateway_config_value(payment.method.gatewayConfig, 'type') == 'blik' %}
    <div class="ui stackable grid">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_blik.html.twig' %}
    </div>
{% endif %}
