{% set method = order.lastCartPayment().method %}

{% if cw_tpay_get_gateway_config_value(method.gatewayConfig, 'type') == 'card' %}
    <div class="ui stackable grid">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_card.html.twig' with {'method': method} %}
    </div>
{% endif %}
