{% set payment = order.lastCartPayment() %}

{% if payment is not null and
    cw_tpay_get_gateway_config_value(payment.method.gatewayConfig, 'type') ==
    constant('CommerceWeavers\\SyliusTpayPlugin\\Tpay\\PaymentType::GOOGLE_PAY')
%}
    <div class="ui stackable grid">
        <div class="ui column eight wide">
            <div class="content">
                {% include '@CommerceWeaversSyliusTpayPlugin/shop/partial/_policies.html.twig' %}
            </div>
        </div>
    </div>
{% endif %}
