{% set payment = order.lastCartPayment() %}

{% if payment.method.gatewayConfig.gatewayName == 'tpay' %}
    {# >>> SyliusTpayPlugin customization #}
    {{ sylius_template_event('cw.tpay.shop.checkout.complete.navigation', { form, order, payment }) }}
    {# SyliusTpayPlugin customization <<< #}
{% else %}
    <button type="submit" class="ui huge primary fluid icon labeled button" {{ sylius_test_html_attribute('confirmation-button') }}>
        <i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}
    </button>
{% endif %}
