{% set payment = order.lastCartPayment() %}

{# >>> SyliusTpayPlugin customization #}
{% if payment is not null %}
    {% set payment_type = cw_tpay_get_gateway_config_value(payment.method.gatewayConfig, 'type') %}
{% else %}
    {% set payment_type = null %}
{% endif %}

{% if payment_type in ['apple_pay', 'google_pay'] %}
    {{ sylius_template_event('cw.tpay.shop.checkout.complete.navigation', { form, order, payment }) }}
{% else %}
    <button type="submit" class="ui huge primary fluid icon labeled button" {{ sylius_test_html_attribute('confirmation-button') }}>
        <i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}
    </button>
{% endif %}
{# SyliusTpayPlugin customization <<< #}

