{% if method.gatewayConfig.gatewayName == 'tpay_card' and form.vars.value.state != 'cart' %}
    <div class="ui stackable grid" style="display: none;" data-payment-details="card">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_card.html.twig' %}
    </div>
{% endif %}
