{% if cw_tpay_get_gateway_config_value(method.gatewayConfig, 'type') ==
    constant('CommerceWeavers\\SyliusTpayPlugin\\Tpay\\PaymentType::GOOGLE_PAY')
    and form.vars.value.state != 'cart'
%}
    <div class="ui stackable grid" style="display: none;" data-payment-details="google_pay">
        <div class="ui stackable grid">
            <div class="ui column eight wide">
                <div class="content">
                    {% include '@CommerceWeaversSyliusTpayPlugin/shop/partial/_policies.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
