{% if cw_tpay_get_gateway_config_value(method.gatewayConfig, 'type') == constant('CommerceWeavers\\SyliusTpayPlugin\\Tpay\\PaymentType::PAY_BY_LINK')
    and form.vars.value.state != 'cart'
%}
    <div class="ui stackable grid" style="display: none;" data-payment-details="pay_by_link">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_payByLink.html.twig' %}
    </div>
{% endif %}
