{% if cw_tpay_get_gateway_config_value(method.gatewayConfig, 'type') == constant('CommerceWeavers\\SyliusTpayPlugin\\Tpay\\PaymentType::VISA_MOBILE')
    and form.vars.value.state != 'cart'
%}
    <div class="ui stackable grid" style="display: none;" data-payment-details="visa_mobile">
        {% include '@CommerceWeaversSyliusTpayPlugin/shop/payment/_visaMobile.html.twig' %}
    </div>
{% endif %}
