<div class="field">
    {{ 'commerce_weavers_sylius_tpay.shop.pay.regulations'|trans({
        '%url%': tpayRegulationsUrl
    })|raw }}
</div>
<div class="field">
    {{ 'commerce_weavers_sylius_tpay.shop.pay.policy'|trans({
        '%url%': tpayPolicyUrl
    })|raw }}
</div>

