<div class="ui column eight wide">
    <div class="ui small icon message">
        <i class="payment icon"></i>
        <div class="content">
            {{ form_row(form.tpay.blik_token) }}
        </div>
    </div>
</div>
