<div class="ui column eight wide">
    <div class="ui small icon message">
        <i class="payment icon"></i>
        <div class="content">
            {{ form_row(form.tpay.blik_token) }}
            <div class="field">
                {{ 'commerce_weavers_sylius_tpay.shop.pay.policy'|trans({
                    '%url%': tpayPolicyUrl
                })|raw }}
            </div>
            <div class="field">
                {{ 'commerce_weavers_sylius_tpay.shop.pay.regulations'|trans({
                    '%url%': tpayRegulationsUrl
                })|raw }}
            </div>
        </div>
    </div>
</div>
